npm-debug.log
node_modules/
dist/
tmp/
*.crx
*.pem
src/draft/
.env
.DS_Store
*.zip
ignore/
.parcel-cache/
yarn-error.log
builds/
src/manifest.json
src/commit.json
export/
# macOS
# node
node_modules
# yarn2
.yarn
.pnp.cjs
.pnp.loader.mjs
static/dist
coverage
junit.xml
cypress/screenshots
